In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
df = pd.read_csv('placement.csv')
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [71]:
X = df.drop(['package'], axis = 1)
y = df['package']

In [72]:
X

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [73]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [86]:
y_test

112    4.10
29     3.49
182    2.08
199    2.33
193    1.94
85     1.48
10     1.86
54     3.09
115    4.21
35     2.87
12     3.65
92     4.00
13     2.89
126    2.60
174    2.99
2      3.25
44     1.86
3      3.67
113    2.37
14     3.42
23     2.48
25     3.65
6      2.60
134    2.83
165    4.08
173    2.56
45     3.58
65     3.81
48     4.09
122    2.01
178    3.63
64     2.92
9      3.51
57     1.94
78     2.21
71     3.34
128    3.34
176    3.23
131    2.01
53     2.61
Name: package, dtype: float64

In [75]:
X_train

     cgpa
137  7.14
163  8.93
111  5.42
123  5.10
109  7.77
..    ...
43   7.66
22   6.14
72   7.78
15   7.25
168  8.65

[160 rows x 1 columns]

In [ ]:
class Mylr:
    def __init__(self):
        self.m = None
        self.b = None

    def fit(self, X_train, y_train):
        X_train =  np.array(X_train)
        y_train = np.array(y_train)

        num = 0
        den = 0

        for i in range(X_train.shape[0]):
            num = num + ((X_train[i] - X_train.mean()) * (y_train[i] - y_train.mean()))
            den = den + (X_train[i] - X_train.mean())**2

        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())

        print(self.m)
        print(self.b)

    def predict(self, X_test, y_test=None):
        X_test = np.array(X_test).flatten()
        y_pred = (self.m * X_test) + self.b
        
        if y_test is not None:
            y_test = np.array(y_test).flatten()
            loss = np.mean((y_test - y_pred) ** 2) 
            print(f"Loss (MSE): {loss}")
        return y_pred

In [88]:
X_train, X_test

(     cgpa
 137  7.14
 163  8.93
 111  5.42
 123  5.10
 109  7.77
 ..    ...
 43   7.66
 22   6.14
 72   7.78
 15   7.25
 168  8.65

 [160 rows x 1 columns],
      cgpa
 112  8.58
 29   7.15
 182  5.88
 199  6.22
 193  4.57
 85   4.79
 10   5.32
 54   6.86
 115  8.35
 35   6.87
 12   8.94
 92   7.90
 13   6.93
 126  5.91
 174  7.32
 2    7.82
 44   5.09
 3    7.42
 113  6.94
 14   7.73
 23   6.19
 25   7.28
 6    6.73
 134  7.20
 165  8.21
 173  6.75
 45   7.87
 65   7.60
 48   8.63
 122  5.12
 178  8.15
 64   7.36
 9    8.31
 57   6.60
 78   6.59
 71   7.47
 128  7.93
 176  6.29
 131  6.37
 53   6.47)

In [89]:
lr = Mylr()
lr.fit(X_train, y_train)

[0.55795197]
[-0.89611192]

In [90]:
np.array(X_test.shape)

array([40,  1])

In [91]:
lr.predict(X_test,y_test)

Loss (MSE): 0.12129235313495523

array([3.89111601, 3.09324469, 2.38464568, 2.57434935, 1.6537286 ,
       1.77647803, 2.07219258, 2.93143862, 3.76278706, 2.93701814,
       4.09197872, 3.51170867, 2.97049525, 2.40138424, 3.18809652,
       3.46707251, 1.94386362, 3.24389172, 2.97607477, 3.41685683,
       2.55761079, 3.16577844, 2.85890486, 3.12114229, 3.68467378,
       2.8700639 , 3.49497011, 3.34432308, 3.91901361, 1.96060218,
       3.65119666, 3.2104146 , 3.74046898, 2.7863711 , 2.78079158,
       3.27178932, 3.52844723, 2.61340599, 2.65804215, 2.71383735])